.center {
    margin: auto;
    width: 700px;
    padding: 10px;
    padding-top: 10vh;
  }
  #background,#board, #pieces{
    position:absolute;
}
  #background {
      z-index: 0;
  }
  
  #board {
    z-index: 1;
}

#pieces {
    z-index: 2;
}