.center {
    margin: auto;
    /* width: 700px; */
    height: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#background, #board, #pieces {
    position: absolute;
}

#background {
    z-index: 0;
}

#board {
    z-index: 1;
}

#pieces {
    z-index: 2;
}

.wrapper {
    display: flex;
    justify-content: center;
}

button {
    background-color: Transparent;
    border: none;
    /* outline: none; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-stretch: expanded;
    font-weight: 600;
    color: #14bdac;
    outline: none;
    border-radius: 12px;
    line-height: 36px;
    width: 120px;
}

#a, #b {
    background-color: #14bdac;
    color: #ffffff;
}

#x {
    color: #545454;
}

#o {
    color: #f2ebd3;
}

.title {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}

.title button {
    margin-right: 40px;
}

.title button:last-child {
    margin-right: 0px;
}